<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a th:href="@{'/home'}">LOGO(molbi)</a>
    <a sec:authorize="isAuthenticated() && !hasAuthority('ADMIN')" th:href="@{'/myApplications'}">Мои барања</a>
<!--    <a sec:authorize="isAuthenticated()" th:href="@{'/applications/newUserApplications'}">Ново</a>-->
    <th:block sec:authorize="isAuthenticated()">
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/admin1'}">Админ</a>
    </th:block>

    <a sec:authorize="isAuthenticated()" th:href="@{'/logout'}">Log out</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Login</a>
</header>