<th:block xmlns:sec="http://www.w3.org/1999/xhtml" th:if="${isValid}">

    <form method="post" action="/applications/apply">


        <label for="type">Тип</label><br/>
        <select name="appTypeId" id="type">
            <option th:if="${appType} != null"
                    th:selected="${appType != null && appTypeId == t.getId()}"
                    th:each="t : ${allTypes}"
                    th:value="${t.getId()}"
                    th:text="${t.getName()}"
                    disabled>
            </option>
        </select>

        <br>
        <label for="submittedOn">Поднесена на</label>
        <input type="date" id="submittedOn" name="dateSubmission"
                th:value="${currentDate}" readonly>
        <br>
<!--        subject-->
        <th:block>

        </th:block>
<!--            professor-->
        <th:block>

        </th:block>

        <label for="description">Краток опис</label>
        <textarea id="description" name="description" rows="4" cols="40" required></textarea>
        <br>

        <button type="submit">Поднеси молба</button>
        <a href="/home">Назад</a>

    </form>

</th:block>

<th:block th:if="${!isValid}">

    <div>
        <h2>Времето е истечено за аплицирање. Више срече други пут xD!</h2>
    </div>


</th:block>

