<th:block xmlns:sec="http://www.w3.org/1999/xhtml" th:if="${isValid}">

<!--    <th:block th:if="${session.user != null}"-->
<!--              th:text="${#request.getRemoteUser()}"></th:block>-->

    <h2>
        Промена на студиска програма
    </h2>

    <form method="post" action="/applicationType/major_changing">

        <div>
            <label for="type">Тип</label><br/>
            <select name="appTypeId" id="type">
                <option th:if="${appType} != null"
                        th:selected="${appType != null && appTypeId == t.getId()}"
                        th:each="t : ${allTypes}"
                        th:value="${t.getId()}"
                        th:text="${t.getName()}"
                        disabled>
                </option>
            </select>
        </div>

        <div>
            <label for="submittedOn">Поднесена на</label>
            <input type="date" id="submittedOn" name="dateSubmission"
                   th:value="${currentDate}" readonly>
        </div>

        <div>
            <label for="currentMajorStudies">Моментална студиска програма:</label>
            <br>
            <select name="currentMajorStudies" id="currentMajorStudies" disabled>
                <option th:if="${user} != null"
                        th:selected="${user != null && user.getMajorStudies().getId() == ms.getId()}"
                        th:each="ms : ${allMajorStudies}"
                        th:value="${ms.getName()}"
                        th:text="${ms.getName()}"
                        >
                </option>
            </select>
            <input type="hidden" name="currentMajorStudies" th:value="${user.getMajorStudies().getName()}" />
        </div>
        <div>
            <label for="newMajorStudies">Нова студиска програма:</label>
            <br>
            <select name="newMajorStudies" id="newMajorStudies" required>
                <option value="">Избрери насока...</option>
                <option th:each="ms : ${userMajorStudies}"
                        th:value="${ms?.getName()}"
                        th:text="${ms?.getName()}"></option>
            </select>
        </div>


        <div>
            <label for="description">Краток опис:</label>
            <textarea id="description" name="description" rows="4" cols="40" required></textarea>
        </div>

        <button type="submit">Поднеси молба</button>
        <a href="/home">Назад</a>

    </form>



</th:block>
<th:block th:if="${!isValid}">

    <div>
        <h2>Времето е истечено за аплицирање. Више срече други пут xD!</h2>
    </div>


</th:block>